body{
    background-color: yellow;
}

.content{
    background-color: rgb(255, 163, 0);
    color: #ffffff;
    width: 50%;
    padding: 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

b{
    font-weight: lighter;
}

p{
    font-weight: 900;
}
img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content1{
    background-color: rgb(255, 255, 255);
    color: #000000;
    width: 50%;
    padding: 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content2{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    width: 50%;
    padding: 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content3{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    width: 50%;
    padding: 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.content4{
    background-color: lightskyblue;
    color: #000;
    width: 50%;
    padding: 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

